<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RabbitMQ-Mensageria/src/main/java/br/com/mensageria/WorkerGUI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.mensageria.WorkerGUI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RabbitMQ-Mensageria"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dworker.id=1"/>
</launchConfiguration>
